doctype html
html(lang='en')
style
        include ../../public/stylesheets/style.css
  head
    title Jade

  body
    h1 Jade - contact page, made with jade baby
    #container.col
      p This is the contact page
